[submodule "thirdparty/openexr"]
	path = thirdparty/openexr
	url = https://github.com/AcademySoftwareFoundation/openexr.git
[submodule "thirdparty/Imath"]
	path = thirdparty/Imath
	url = https://github.com/AcademySoftwareFoundation/Imath.git
